@font-face {
  font-family: "Biro Script Plus Bold US";
  src: url("../fonts/BiroScript/BiroScriptUSPlus-Bold.eot");
  src: local("Biro Script Plus Bold US"), local("BiroScriptUSPlus-Bold"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Bold.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Bold.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus";
  src: url("../fonts/BiroScript/BiroScriptPlus-Bold.eot");
  src: local("Biro Script Plus Bold"), local("BiroScriptPlus-Bold"),
    url("../fonts/BiroScript/BiroScriptPlus-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptPlus-Bold.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptPlus-Bold.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptPlus-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus Sloppy";
  src: url("../fonts/BiroScript/BiroScriptPlus-Sloppy.eot");
  src: local("Biro Script Plus Sloppy"), local("BiroScriptPlus-Sloppy"),
    url("../fonts/BiroScript/BiroScriptPlus-Sloppy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptPlus-Sloppy.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptPlus-Sloppy.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptPlus-Sloppy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus";
  src: url("../fonts/BiroScript/BiroScriptPlus.eot");
  src: local("Biro Script Plus"), local("BiroScriptPlus"),
    url("../fonts/BiroScript/BiroScriptPlus.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptPlus.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptPlus.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptPlus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus Sloppy US";
  src: url("../fonts/BiroScript/BiroScriptUSPlus-Sloppy.eot");
  src: local("Biro Script Plus Sloppy US"), local("BiroScriptUSPlus-Sloppy"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Sloppy.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Sloppy.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Sloppy.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Sloppy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biro Script Plus US";
  src: url("../fonts/BiroScript/BiroScriptUSPlus-Regular.eot");
  src: local("Biro Script Plus US"), local("BiroScriptUSPlus-Regular"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Regular.woff2") format("woff2"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Regular.woff") format("woff"),
    url("../fonts/BiroScript/BiroScriptUSPlus-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../fonts/MessinaSans/MessinaSansMono-SemiBold.eot");
  src: local("Messina Sans Mono SemiBold"), local("MessinaSansMono-SemiBold"),
    url("../fonts/MessinaSans/MessinaSansMono-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-SemiBold.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-SemiBold.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../fonts/MessinaSans/MessinaSansMono-Light.eot");
  src: local("Messina Sans Mono Light"), local("MessinaSansMono-Light"),
    url("../fonts/MessinaSans/MessinaSansMono-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-Light.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-Light.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono Book";
  src: url("../fonts/MessinaSans/MessinaSansMono-Book.eot");
  src: local("Messina Sans Mono Book"), local("MessinaSansMono-Book"),
    url("../fonts/MessinaSans/MessinaSansMono-Book.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-Book.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-Book.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../fonts/MessinaSans/MessinaSansMono-Bold.eot");
  src: local("Messina Sans Mono Bold"), local("MessinaSansMono-Bold"),
    url("../fonts/MessinaSans/MessinaSansMono-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-Bold.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-Bold.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../fonts/MessinaSans/MessinaSansMono-Regular.eot");
  src: local("Messina Sans Mono Regular"), local("MessinaSansMono-Regular"),
    url("../fonts/MessinaSans/MessinaSansMono-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-Regular.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-Regular.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("../fonts/MessinaSans/MessinaSansMono-Black.eot");
  src: local("Messina Sans Mono Black"), local("MessinaSansMono-Black"),
    url("../fonts/MessinaSans/MessinaSansMono-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MessinaSans/MessinaSansMono-Black.woff2") format("woff2"),
    url("../fonts/MessinaSans/MessinaSansMono-Black.woff") format("woff"),
    url("../fonts/MessinaSans/MessinaSansMono-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/RightGrotesk-CompactBlack.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/RightGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/RightGrotesk-NarrowLight.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* @font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/rightgrotesk-spatialblack.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
} */

/* @font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/RightGrotesk-TightMedium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
} */

@font-face {
  font-family: "Right Grotesk";
  src: url("../fonts/RightGrotesk/RightGrotesk-WideMedium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
