@import "./styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Biro Script Plus Bold US";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/src/fonts/BiroScript/BiroScriptPlus-Bold.woff2) format("woff2");
  }
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: black;
}
